@import './mixins';

.scheduleShow {
    @include scheduleShowStyle(#aaa, 0);
    li:nth-child(1) {
        color: #34495e;
        > p {
            border-bottom: 3px solid #34495e;
        }
    }
}
.cartData {
    > .shoppingCartList {
        display: inline-block;
        vertical-align: top;
        strong {
            color: $primary;
            font-size: fontSize(22px);
            font-family: $font-family-chinese2;
            margin-right: 4rem;
        }
        .countRound {
            margin-left: 0.2rem; 
        }
        > .shoppingCartContent {
            .qtyNum {
                width: 20%;
            }
        }
    }
    > .orderData {
        display: inline-block;
        margin-bottom: 1rem;
        > .orderTitle {
            font-size: fontSize(22px);
            color: $primary;
            font-family: $font-family-chinese2;
            font-weight: bolder;
        }
        label {
            color: #777;
            font-size: fontSize(15px);
            font-family: $font-family-chinese2;
            font-weight: bold;
            > span {
                color: $red;
            }
        }
        input, textarea {
            color: #555;
            font-size: fontSize(16px);
            font-family: $font-family-chinese2;
            font-weight: bold;
        }
    }
}

// phone mode
@media (max-width: 640px) {
    .scheduleShow {
        > ul {
            padding: 0;
            > li {
                padding: 0;
                > p {
                    font-size: fontSize(16px);
                }
            }
        }
    }
    .cartData {
        > .shoppingCartList {
            max-width: 100%;
            flex: 0 0 100%;
            margin-bottom: 2rem;
            > .shoppingCartContent {
                > span {
                    bottom: 0.5rem;
                }
            }
        }
        > .orderData {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}

// iPad mode
@media (min-width: 641px) and (max-width: 960px) {
    .scheduleShow {
        > ul {
            padding: 0;
            > li {
                padding: 0;
                > p {
                    font-size: fontSize(16px);
                }
            }
        }
    }
    .cartData {
        > .shoppingCartList {
            max-width: 100%;
            flex: 0 0 100%;
            margin-bottom: 2rem;
            > .shoppingCartContent {
                > span {
                    bottom: 0.5rem;
                }
            }
        }
        > .orderData {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}