@import './mixins';

.cardBox {
    border: 1px solid #95a5a6;
    overflow: hidden;
    position: relative;
    transition: .5s;
    > img {
        transition: .5s;
    }
}
.cardBox:hover {
    > img {
        transform: scale(1.05, 1.05);
        transition: .5s;
    }
}
.cardBox:after {
    content: '';
    transition: .5s;
}
.cardBox:hover::after {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    cursor: pointer;
}
.cardFontStyle {
    margin-top: 1rem;
    font-family: 'Noto Sans TC', '微軟正黑體', serif;
    position: relative;
    p {
        color: #5b270b;
        font-size: fontSize(18px);
        font-weight: 600;
        text-align: right;
        border-top: 1px dotted #95a5a6;
        margin-top: 1rem;
        cursor: pointer;
    }
    strong {
        font-size: fontSize(20px);
    }
    span {
        position: absolute;
        right: 0;
    }
}

// phone mode
@media (max-width: 640px) {
    #featuredBooks {
        > div {
            max-width: 100%;
            flex: 0 0 100%;
            > .cardFontStyle {
                p {
                    margin-top: 1.5rem;
                }
                span {
                    display: block;
                }
            }
        }
    }
    .cardBox {
        > img {
            width: 100%;
        } 
    }
}

//iPad mode
@media (min-width: 641px) and (max-width: 960px) {
    .cardBox {
        > img {
            width: 100%;
        } 
    }
    .cardFontStyle {
        p {
            margin-top: 1.5rem;
        }
        span {
            display: block;
        }
    }
}