$basicFontSize: 16px;
@function fontSize($px) {
    @return ($px / $basicFontSize) * 1rem;
}

%liStyle {
    list-style: none;
    display: inline-block;
}

%boxSizing {
    box-sizing: border-box;
}

%vertically {
    top: 50%;
    transform: translateY(-50%);
}

%center-vertically {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%boxStyle {
    border: 1px solid #95a5a6;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    margin-top: 1rem;
}

%activityImage {
    background-size: cover;
    background-position: right;
}

@mixin topFineTuning($percent) {
    top: $percent;
    transform: translateY(-50%);
}

@mixin activityFontStyle($titleColor, $dateColor, $contentColor) {
    padding: 6rem 3.5rem;
    font-family: 'Noto Sans TC', sans-serif;
    > strong {
        color: $titleColor;
        font-size: fontSize(32px);
    }
    > p {
        color: $dateColor;
        font-size: fontSize(22px);
    }
    > span {
       color: $contentColor;
       font-size: fontSize(16px);
    }
}

@mixin scheduleShowStyle($liColor, $borderSize) {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    > ul {
        list-style: none;
        > li {
            display: inline-block;
            font-weight: bolder;
            width: calc(100% / 3);
            text-align: center;
            font-size: fontSize(18px);
            padding: 0 6rem;
            color: $liColor;
            > p {
                border-bottom: $borderSize solid black;
                margin: 0;
            }
        }
    }
}
