@import './mixins';

.newsTitle {
    font-size: fontSize(40px);
    color: #c75e31;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    margin-bottom: 3rem;
}
.activityNews {
    margin-bottom: 1rem;
    // > .marquee {
    //     height: 1.5rem;
    //     margin: 0 auto;
    //     overflow: hidden;
    //     position: relative;
    //     > p {
    //         padding-left: 0;
    //         position: absolute;
    //         animation: marquee 15s linear infinite;
    //         color: #34495e;
    //         font-weight: bold;
    //         font-size: fontSize(16px);
    //         font-family: 'Noto Sans TC', sans-serif;
    //     }
    // }
}
.activityFontStyle1 {
    @include activityFontStyle(white, #3498db, white);
}
.activityImage1 {
    background-image: url('~@/assets/image/activity1.png');
    @extend %activityImage;
}
.activityFontStyle2 {
    text-align: right;
    @include activityFontStyle(white, white, white);
}
.activityImage2 {
    background-image: url('~@/assets/image/activity2.png');
    @extend %activityImage;
}
.activityFontStyle3 {
    text-align: right;
    @include activityFontStyle(#487eb0, #2f3640, #2f3640);
}
.activityImage3 {
    background-image: url('~@/assets/image/activity3.png');
    @extend %activityImage;
}
.activityFontStyle4 {
    @include activityFontStyle(#017e83, #2f3640, #2f3640);
}
.activityImage4 {
    background-image: url('~@/assets/image/activity4.png');
    @extend %activityImage;
}
// @keyframes marquee {
//     0% {
//         left: 100%;
//         transform: translateX(0%);
//     }
//     100% {
//         left: 0%;
//         transform: translateX(-100%);
//     }
// }