@import './mixins';

.surpriseTitle {
    font-size: $fontSize-title;
    color: $primary;
    text-align: center;
    font-family: $font-family-chinese2;
    font-weight: bold;
    margin-bottom: 3rem;
}
.surpriseCode {
    border-top: 0.5px dotted #424949;
    border-bottom: 0.5px dotted #424949;
    margin-bottom: 3rem;
    > .surpriseBox {
        background-color: $other;
        text-align: center;
        max-width: 40%;
        margin: 2rem auto;
        padding: 1rem 0;
        font-family: $font-family-chinese;
        box-shadow: 0 0 15px darken($other, 10%);
        > strong {
            display: block;
            color: $white;
            font-size: fontSize(40px);
            font-weight: bold;
        }
        > span {
            color: $white;
            font-size: fontSize(20px);
            font-weight: bold;
        }
        > p {
            margin: 0;
            font-size: fontSize(32px);
            color: $other2;
            font-weight: bolder;
        }
    }
}

// phone mode
@media (max-width: 640px) {
    .surpriseCode {
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
        > .surpriseBox {
            max-width: 100%;
        }
    }
}

// iPad mode
@media (min-width: 641px) and (max-width: 960px) {
    .surpriseCode {
        > .surpriseBox {
            max-width: 80%;
        }
    }
}