@import './mixins';
html, body {
    height: 100%;
}

// nav Layout
.l-nav-table {
    background-color: $primary;
    position: fixed;
    width: 100%;
    height: 85px;
    display: inline-block;
    z-index: 99;
    left: 0;
    @extend %boxSizing;
    > .l-logo {
        width: 20%;
        display: inline-block;
        position: relative;
        bottom: 25%;
        height: 85px;
        overflow: hidden;
        left: 10%;
    }
    a {
        text-decoration: none;
        color: $white;
    }
    > .l-nav-mainOption {
        display: inline-block;
        position: absolute;
        right: 10%;
        top: 37%;
        padding-left: 0;
        > li {
            @extend %liStyle;
            font-size: fontSize(18px);
            font-family: $font-family-chinese2;
            padding-right: 2.5rem;
            &:hover {
                font-weight: bolder;
            }
            > a:hover {
                border-bottom: 2px solid $white;
            }
        }
        > .l-nav-user {
            padding-right: 0;
        }
    }
    > .dropdown {
        display: none;
    }
}

// footer Layout
footer {
    overflow: hidden;
}
.l-footer-table {
    background-color: $primary;
    @extend %boxSizing;
    padding-bottom: 50px;
    position: relative;
    min-height: 100%;
    margin: 0;
    > .l-footer-widthCalc {
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        > div {
            width: calc(100%/4);
        }
        > .l-logo2 {
            display: inline-block;
            padding-left: 6rem;
            height: 50px;
            position: absolute;
            bottom: 60%;
            left: 5%;
            > a {
                color: $white;
                text-decoration: none;
                width: 100%;
                display: inline-block;
                overflow: hidden;
                > img {
                    width: 85%;
                    display: inline-block;
                    padding-left: 1.1rem;
                }
            }
        }
        > .l-footer-icon {
            display: inline-block;
            position: absolute;
            right: 15%;
            top: 15%;
            > li {
                @extend %liStyle;
                letter-spacing: fontSize(16px);
                font-size: fontSize(24px);
                margin-right: 1.5rem;
                > a {
                    color: $white;
                    text-decoration: none;
                    &:hover {
                        color: $gray-200;
                    }
                    > i {
                        position: relative;
                        left: 24%;
                        bottom: 4%;
                    }
                }
            }
        }
    }
    
}

// phone mode
@media (max-width: 640px) { 
    .l-nav-table {
        > .l-logo {
            position: absolute;
            left: 15%;
            width: 65%;
        }
        > .l-nav-mainOption {
            display: none;
        }
        > .dropdown {
            display: block;
            text-align: right;
            top: 25%;
            left: 80%;
            width: 20%;
            > #dropdownMenuButton {
                background-color: transparent;
                border: none;
                > i {
                    color: $white;
                    font-size: fontSize(28px);
                }
            }
            > .dropdown-menu {
                > a {
                    display: block;
                    color: #555;
                    font-size: fontSize(18px);
                    font-family: $font-family-chinese2;
                    text-align: center;
                    &:hover {
                        background-color: #eee;
                    } 
                }
            }
        }
    }
    .l-footer-table {
        > .l-footer-widthCalc {
            > .l-logo2 {
                display: none;
            }
            > .l-footer-icon {
                margin: 0;
                left: 10%;
                position: relative;
            }
        }
    }
 }

 // iPad mode
 @media (min-width: 641px) and (max-width: 960px) {
    .l-nav-table {
        height: 15vh;
        > .l-logo {
            position: absolute;
            top: 10%;
            width: 30%;
        }
        > .l-nav-mainOption {
            top: 42%;
        }
        > .dropdown {
            display: none;
        }
    }
    .l-footer-table {
        > .l-footer-widthCalc {
            > .l-logo2 {
                padding-left: 0;
                > a {
                    position: relative;
                    left: 50%;
                }
            }
            > .l-footer-icon {
                margin-top: 0.5rem;
                left: 50%;
                position: relative;
            }
        }
    }
 }