@import './mixins';

.newsTitle {
    font-size: $fontSize-title;
    color: $primary;
    text-align: center;
    font-family: $font-family-chinese2;
    font-weight: bold;
    margin-bottom: 3rem;
}
.activityNews {
    > .popularity {
        text-align: right;
        margin: 0;
        font-family: $font-family-chinese2;
        color: $gray-300;
    }
}
.activityFontStyle1 {
    @include activityFontStyle($white, #3498db, $white);
}
.activityImage1 {
    background-image: url('~@/assets/image/activity1.png');
    @extend %activityImage;
}
.activityFontStyle2 {
    text-align: right;
    @include activityFontStyle($white, $white, $white);
}
.activityImage2 {
    background-image: url('~@/assets/image/activity2.png');
    @extend %activityImage;
}
.activityFontStyle3 {
    @include activityFontStyle(#487eb0, #2f3640, #2f3640);
}
.activityImage3 {
    background-image: url('~@/assets/image/activity6.png');
    @extend %activityImage;
}
.activityFontStyle4 {
    text-align: right;
    @include activityFontStyle(#017e83, #2f3640, #2f3640);
}
.activityImage4 {
    background-image: url('~@/assets/image/activity4.png');
    @extend %activityImage;
}