.ranobeTitle {
    color: $primary;
    font-size: $fontSize-title;
    text-align: center;
    font-family: $font-family-chinese;
    font-weight: bold;
    padding: 3rem 0;
}

// phone mode
@media (max-width: 640px) {
    .ranobeBox {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .cardFontStyle {
        > p {
            margin-top: 1.5rem;
        }
        > span {
            display: block;
        }
        > strong {
            width: 100%;
        }
    }
}

// iPad mode
@media (min-width: 641px) and (max-width: 960px) {
    
}