@import './mixins';

.bg-primary {
    background-color: $primary;
}
.surpriseTitle {
    font-size: $fontSize-title;
    color: $white;
    text-align: center;
    font-family: $font-family-chinese2;
    font-weight: bold;
    margin: 3rem 0;
}
.surpriseCode {
    margin-bottom: 6rem;
    > .surpriseBox {
        background-color: $primary-lighten;
        text-align: center;
        max-width: 65%;
        margin: 0 auto;
        padding: 1rem 0;
        font-family: $font-family-chinese;
        box-shadow: 0 0 15px darken($primary-lighten, 10%);
        padding: 3rem 0;
        > strong {
            display: block;
            color: $white;
            font-size: fontSize(40px);
            font-weight: bold;
        }
        > span {
            color: $white;
            font-size: fontSize(20px);
            font-weight: bold;
        }
        > p {
            margin: 0;
            font-size: fontSize(32px);
            color: $other;
            font-weight: bolder;
        }
    }
}
.surpriseBtn {
    text-align: center;
    > .surpriseBtnTopText {
        font-size: fontSize(16px);
        color: $white;
        text-align: left;
        margin-top: 2rem;
        > span {
            display: block;
            font-family: $font-family-chinese2;
        }
        > span:nth-child(1) {
            font-size: fontSize(18px);
            font-weight: bold;
            margin-bottom: 1rem;
        }
        > span:nth-child(2) {
            margin-bottom: 2rem;
        }
        > a {
            background-color: $red;
            color: $white;
            border-radius: 60px;
            text-decoration: none;
            font-weight: 600;
            font-family: $font-family-chinese;
            padding: 0.85rem 1.5rem;
            &:hover {
                background-color: #3c3c98;
            }
            > i {
                margin-left: 1rem;
            }
        }
    }
}

// phone mode
@media (max-width: 640px) {
    .surpriseCode {
        > .surpriseBox {
            max-width: 100%;
            > strong {
                font-size: fontSize(32px);
            }
            > p {
                font-size: fontSize(25px);
            }
        }
    }
    .surpriseBtn {
        > .surpriseBtnTopText {
            margin: 0;
            text-align: center;
            > a {
                padding: 0;
                font-size: fontSize(11px);
                border-radius: 30px;
                margin: -10%;
                padding: 6%;
                > i {
                    margin-left: 0.2rem;
                }
            }
        }
    }
}

// iPad mode
@media (min-width: 641px) and (max-width: 960px) {
    .surpriseCode {
        > .surpriseBox {
            max-width: 80%;
        }
    }
    .surpriseBtn {
        > .surpriseBtnTopText {
            text-align: center;
        }
    }
}